@model Assignment.Models.BookShop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookShop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookLaunchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookLaunchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookAvailablityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAvailablityStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
